%h1= Organization.model_name.human(count: 2)

:javascript
  (function() {
    $.ajax({
      url: '#{table_columns_admin_organizations_path}'
    }).done(function(json) {
      return $('#organizations-table').bootstrapTable({
        columns: json,
        url: '#{admin_organizations_path}',
        search: 'true'
      });
    });
  }).call(this);
%table#organizations-table

= link_to 'New Organization', new_organization_path
