[Desktop Entry]
Version=1.0
Name=dinatih's github
Comment=dinatih's github
Exec=omarchy-launch-webapp https://github.com/dinatih
Terminal=false
Type=Application
Icon=/home/dinatih/.local/share/applications/icons/dinatih's github.png
StartupNotify=true
